body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: #f1f1f1; */
    background: url(Imagebg1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    font-family: sans-serif;
    background-position: center;
}
/*this is code for baackground image*/

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1f1;
    background-image: url('loginbg.jpg'); /* Replace 'background-image.jpg' with your image path */
    /* background-size: cover;
    background-position: center; */
/* } */

button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    
}

button {
    background-color: #4cb3f7;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #36cae4;
}

.container {
    background-color: rgba(125, 232, 217, 0.9); /* Adjust the background color opacity */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    width: 500px;
    max-width: 100%;
}
.container {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.form-container {
    padding: 50px;
}

a{
    text-decoration: none;
}